<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<h1>Vibent Distribution List Invitation</h1>
<section>
  <p>
    Hi there ! <span th:text="${inviterFirstName}"></span> <span th:text="${inviterLastName}"></span> has invited you to join the invitation list
    <em th:text="${distributionListTitle}"></em> on Vibent. Joining will also add you to their events, like <em th:text="${eventTitle}"></em>.
  </p>
  <div>
    <a th:href="@{${clientUrl}+ '/invite/l/' + ${secret}}">Click here to join the distribution list</a>
  </div>
  <p>
    We hope you enjoy Vibent !
  </p>

  - The Vibent Team

  <p><small>If you do not wish to use Vibent or join the distribution list, please ignore this message.</small></p>
</section>
</body>
</html>
