<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<h1>Vibent Group Invitation</h1>
<section>
  <p>
    Hi there ! <span th:text="${inviterFirstName}"></span> <span th:text="${inviterLastName}"></span> has invited you to join the group
    <em th:text="${groupName}"></em> on Vibent.
  </p>
  <div>
    <a th:href="@{${clientUrl}+ '/invite/' + ${secret}}">Click here to join the group</a>
  </div>
  <p>
    We hope you enjoy Vibent !
  </p>

  - The Vibent Team

  <p><small>If you do not wish to use Vibent or join the group, please ignore this message.</small></p>
</section>
</body>
</html>