<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<h1>Password Reset</h1>
<section>
  <p>
    Hey <span th:text="${firstName}"></span> <span th:text="${lastName}"></span> ! You have asked us to reset your password.
    Please click on the link below to set up a new one :
  </p>
  <div>
    <a th:href="@{${clientUrl}+ '/passwordReset/' + ${secret}}">Click here to reset your password</a>
  </div>
  <p>
    We hope you are enjoying Vibent !
  </p>

  - The Vibent Team

  <p><small>If you have not requested this email, please ignore this message.</small></p>
</section>
</body>
</html>